
.book-body{
    display:flex;
    flex-direction: row;
    
}
.best-sellers{
    width: 300px;
    
}
.best-item{
 display: flex;
}
.best-image{
  max-width: 25%;
}
.more-wrapper{
    max-width: 30%;
    display:flex;
    flex-direction: column;
}

